#layout {
    height: 100vh;
}
#layout .trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  #layout .trigger:hover {
    color: #1890ff;
  }
  
  #layout .logo {
    height: 32px;
    margin: 16px;
    background: rgba(18, 10, 56, 0.3);
    font-size: 16px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  .header-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header-btn{
    margin-right: 20px;
  }